<h3>Új vasúti kocsi felvétele</h3>

<form [formGroup]="trainForm" (ngSubmit)="onSubmit(trainForm.value)">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Sorozatjel</mat-label>
      <input matInput placeholder="Sorozatjel" formControlName="serialNumber" />
      <mat-hint>Adjon meg egy sorozatszámot. Pl.: Aa11A</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Gyártási év</mat-label>
      <input matInput placeholder="Gyártási év" formControlName="manufactureYear" />
      <mat-hint>Adjon meg egy gyártási évet</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Pályaszám</mat-label>
      <input matInput placeholder="Pályaszám" formControlName="trackNumber" />
      <mat-hint>Adjon meg egy pályaszámot. Pl.: 11 11 11-11 111-1</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Tulajdonos</mat-label>
      <input matInput placeholder="Tulajdonos" formControlName="owner" />
      <mat-hint>Adjon meg egy tulajdonost</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Telephely</mat-label>
      <input matInput placeholder="Telephely" formControlName="site" />
      <mat-hint>Adjon meg egy telephelyet</mat-hint>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type>Mentés</button>
</form>
<p>
Form Status: {{ trainForm.status }}
</p>

<p>
  <a mat-button routerLink="/trains">
    <b>Vissza a vasúti kocsikhoz</b>
  </a>
</p>
